@using Model;
@model IList<Model.Service>

@{
    ViewBag.Title = "Servicios";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/Content/Gridmvc.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/gridmvc.min.js")"></script>
    <link href="@Url.Content("~/Content/List.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/list.js")"></script>
    <title>Index</title>
</head>

<div class="container">
    <div class="title">Servicios</div>
</div>

<div class="container">
    <div id="gridContainer" data-grid-url="@Url.Action("Index")">
        @Html.Partial("List", Model)
    </div>
</div>

<div id="dialog-confirm" title="Eliminar">
    <p>Esta seguro?</p>
</div>